<nav class="navbar navbar-light bg-white py-1 border-bottom shadow-sm">
  <div class="container-fluid px-lg-5">
    
    <a class="navbar-brand mb-0" href="#">
      <img src="LOGO FINAL VIDALUD.png" alt="Logo Vidalud" height="45">
    </a>

    <div class="d-flex align-items-center">
      <span class="badge rounded-pill bg-light text-dark border px-2 py-1 small d-none d-sm-block">
        <span class="text-success">●</span> Tienda Oficial 🇨🇴
      </span>
      <i class="bi bi-cart3 text-success ms-2 fs-5"></i>
    </div>
  </div>
</nav>