.navbar-brand {
  letter-spacing: -1px;
}

.italic {
  font-style: italic;
}

/* Efecto suave al pasar el mouse por el estado */
.badge {
  font-size: 0.85rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.badge:hover {
  background-color: var(--vidalud-soft) !important;
}